*{
    margin: 0px;
    padding: 0px;
}
.font{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
    
}
.manin-page{
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    
height: 100vh;
background-color: lightgray 50%;
text-align: right;
padding-top: 220px;
padding-right: 250px;




}
.hade-title{
    color: #FFF;
text-align: right;

font-size: 65px;

font-weight: 700;

}
.hader-discription{
    color: #FFF;
text-align: right;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 20px;
}
.btn{
 color: #005FAC;
text-align: right;
font-size: 20px;
font-weight: 600;
background-color: white;
padding: 20px 30px;
margin-top: 20px;
border-radius: 5px;

border-color: white;

}