*{
    margin: 0px;
    padding: 0px;
}
.font{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
    
}
.manin-page{
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    
height: 100vh;
background-color: lightgray 50%;
text-align: right;
padding-top: 220px;
padding-right: 250px;




}
.hade-title{
    color: #FFF;
text-align: right;

font-size: 65px;

font-weight: 700;

}
.hader-discription{
    color: #FFF;
text-align: right;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 20px;
}
.btn{
 color: #005FAC;
text-align: right;
font-size: 20px;
font-weight: 600;
background-color: white;
padding: 20px 30px;
margin-top: 20px;
border-radius: 5px;

border-color: white;

}
.main-continer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
}
.primary-title{
color:  #151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 25px;

}
.descraption-part2{
    color:  #444343;
font-size: 16px;

font-weight: 400;
line-height: 22px;
margin-bottom: 20px;
}
li{
list-style: none;
color:  #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.my{
    
    color:  #151414;
text-align: center;
font-family: Work Sans;
font-size: 40px;

font-weight: 700;
line-height: normal;
}
.my-plan{
    margin-top: 200px;
    align-items: center;
}
.mother{
    display: flex;
    justify-content: center;
}
.child{
    margin: 50px;
    text-align: center;
}
.img{
    margin-bottom: 20px;
   
}
.title-my-plans{
    color:  #151414;
text-align: center;
font-size: 30px;

font-weight: 700;


}
.dis-p{
    color: #737272;
text-align: center;
font-size: 25px;
font-weight: 500;

}
.last{
    background-image: url("../images/watch.png"), url("../images/gradient1.png");
    background-blend-mode: overlay;
    
    background-repeat: no-repeat;
    width: 1140px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;

}
.last-text{
    
    margin: 40px;
    padding-top: 25px;
    
}
.last-hading{
    color: #FFF;
  
    font-size: 40px;
    
    font-weight: 700;
    margin-bottom: 10px;
    
}
.btn-p{
    border-radius: 5px;
background: #FFF;
color: #005FAC;
text-align: center;

font-size: 20px;
font-weight: 600;
padding: 10px;
border-color: white;

}
.footer-continer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}
.footer-conten{
    text-align: left;
    
}
.foter-dis{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.foter-imge-content{
    display: flex;
    gap: 20px;
    width: 20px;
    margin-top: 20px;
}
.foter-sub{
    color: #FFF;
    padding-bottom: 20px;

font-size: 25px;

font-weight: 600;


}
.form{
    display: block;
    
}
.foter-email{
    border: 2px solid black;
    box-shadow: 2px 2px 5px 2px white;
    padding: 5px 10px;
    margin-bottom: 20px;
  
}
.submit{
    border-radius: 8px;
background: #005FAC;
color: white;
width: 150px;
height: 40px;
flex-shrink: 0;
}


